body{
  background-image: url("../media/holidaybackground.jfif");
  font-family: Helvetica, sans-serif;
  color:#000000;
  font-size: 1em;
  line-height: 1.5;
}
#map{
  position: relative;
  width: 55%;
  height: 600px;
  border: solid black 5px;
  border-radius: 20px;
}
nav{
  background-color:#45818e;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  border-radius: 0 0 1.5em 1.5em;
}
nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  text-decoration:none;
  list-style-type: none;
}
nav ul li{
  float: left;
  list-style-type: none;
}
nav ul li a{
  display: block;
  padding: 1.00em 0.9em;
  color:#000000;
  text-decoration:none;
  list-style-type: none;
}
img{
    height: 300px;
    width: 400px;
    margin: 2.5em auto;
    display: block;
    box-sizing: border-box;
}
iframe{
	height: 300px;
    	width: 400px;
	margin: 2.5em auto;
	display: block;
    	box-sizing: border-box;
}
h1, h2, h3, h4{
    text-underline-offset: 0.09em;
    text-align: center;
    position: relative;
    text-decoration:none;
}
h1{
	background-color:#a2c4c9;
}
p,ul,ol,li{
	text-align: center;
	position: relative;
	list-style-type: none;
}
section{
  box-sizing: border-box;
  width: 80%;
  margin: 3em auto;
}
footer p a{
  clear: none;
  background-color: #f2f5f5;
}
@media screen and (min-width: 360px) {
  figure{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 500px) {
  figure {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  img{
	  width:400px;
	  display: block;
	  margin: 25px;
  }
  
  #anime{
	  width:100px;
	  height:100px;
	  position: absolute;
	  top: 0px;
	  right: 0px;
  }
